.accountSettingsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.accountSettingsLeft {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.accountSettingsRight {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.userAvatarSettingsImg {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: 2rem;
}

#profile-picture::-webkit-file-upload-button {
    padding: 0.2rem 0.8rem;
    width: auto;
    border: 2px solid var(--main-orange-color);
    border-radius: 0.8rem;
    background-color: var(--main-orange-color);
    color: var(--main-text-color);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    transition: 0.3s;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer; 
    margin-right: 2rem;
}

.changeAvatarButton {
    padding: 0.2rem 0.8rem;
    width: auto;
    border: 2px solid var(--main-orange-color);
    border-radius: 0.8rem;
    background-color: var(--main-orange-color);
    color: var(--main-text-color);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    transition: 0.3s;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer; 
}

.accountSettingsContent, .gameSettingsDiv {
    padding: 0rem;
}

.accountSettingsContent {
    background-color:  var(--main-bg-color-darkest);
    margin: 2rem;
    margin-top: 2rem;
    margin: 3rem 3rem 1.4rem 0rem;
    padding: 2rem;
    border-radius: 0.8rem;
}

.accountSettingsContent h1 {
    padding: 0;
    margin: 0;
    padding-left: 0.4rem;
    border-bottom: 2px solid var(--main-orange-color);
    margin-right: 1.2rem;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.accountSettingsForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
}

.accountSettingsFormInputs {
    display: flex;
    width: 100%;
}

.accountSettingsFormLeft, .accountSettingsFormRight {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0.4rem;
    padding-right: 2rem;
}


.accountSettingsForm input {
    padding: 0.5rem;
    margin: 0.4rem 0;
    border: 2px solid var(--main-orange-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 1rem;

}

.accountSettingsForm input:focus {
    outline: none;
    border: 2px solid var(--main-text-color);
}

.accountSettingsForm label {
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;
    width: auto;
}

.regionSelect {
    padding: 0.5rem;
    margin: 0.4rem 0;
    border: 2px solid var(--main-orange-color);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 1rem;
    width: 100%;

}

.saveChangesButton {
    padding: 0.2rem 0.8rem;
    width: auto;
    border: 2px solid var(--main-orange-color);
    border-radius: 0.8rem;
    background-color: var(--main-orange-color);
    color: var(--main-text-color);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    transition: 0.3s;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer; 
    margin-right: 2rem;
}

.saveChangesButton:hover {
    border: 2px solid var(--main-text-color);
}

.accountSettingsFormButton {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gameSettingsDiv {
    background-color: var(--main-bg-color-darkest);
    border-radius: 0.8rem;
    margin-right: 3rem;
    padding: 1rem 2rem 1.4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.gameSettingsButtonDiv {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
}

.gameSettingsDiv h2 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.gameSettingsDiv p {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 200;
    padding-top: 0.2rem;
}

.gameSettingsButton{
    padding: 0.2rem 0.6rem;
    border: 2px solid var(--main-orange-color);
    border-radius: 0.8rem;
    background-color: var(--main-orange-color);
    color: var(--main-text-color);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    transition: 0.3s;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer; 
}

.gameSettingsButton:hover, .saveChangesButton:hover, .changeAvatarButton:hover {
    border: 2px solid var(--main-text-color);
}