.addGameInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.addGameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--main-text-color);
    background-color: var(--main-bg-color-darkest);
    width: 40%;
    height: auto;
    box-sizing: border-box;
    padding: 1.6rem 2rem;
    border-radius: 0.8rem;
}

.addGameInfoTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.addRegionDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    box-sizing: border-box;

}

.addGameForm label {
    font-size: 1.2rem;
    margin-right: 0.4rem;
    color: var(--main-text-color);
    text-transform: uppercase;
}

.addGameForm input {
    font-size: 1rem;
    padding: 0.2rem;
    border: 2px solid var(--main-orange-color);
    border-radius: 0.8rem;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

.addGameForm select {
    font-size: 1rem;
    padding: 0.2rem;
    border: 2px solid var(--main-orange-color);
    border-radius: 0.8rem;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}


.confirmBtnDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 1rem;
}

.addGameConfirmBtn {
    margin-right: 1rem;
}
