@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@1,62.5,100..900&display=swap');

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--main-bg-color-darkest);
    color: var(--main-text-color);
}

.landingHeaderContainer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 1rem 0.2rem 1rem;
}

.landingHeaderImg {
    height: 80%;
}