.hamburgerVerticalMenuWrapper {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.hamburgerMenuWrapperClosed {
    right: -100%; /* Slide off the screen */
    transition: right 0s ease-out; /* Transition effect */
}

.hamburgerMenuWrapperOpen {
    right: 0; /* Slide onto the screen */
    transition: right 0s ease-out; /* Transition effect */
}

.hamburgerVerticalMenu {
    position: fixed;
    background-color: rgb(191, 191, 191);
    height: 100vh;
    width: 80%;
    top: 0;
    z-index: 101;
}

.hamburgerCloseBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.6rem;
}


.hamburgerMenuClosed {
    right: -80%; /* Slide off the screen */
    transition: right 0.5s ease-out; /* Transition effect */
}

.hamburgerMenuOpen {
    right: 0; /* Slide onto the screen */
    transition: right 0.5s ease-out; /* Transition effect */
    border-left: 8px solid var(--main-orange-color);

}

.hamburgerMenuItems {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    list-style: none;
    gap: 2rem;
    font-size: 2rem;
    padding-left: 2rem;
}

.logoutHamburgerLink {
    margin-top: 2rem;
    width: auto;
}