.homepageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.homepageContent {
    background-color: var(--main-bg-color-dark);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--container-light-color) var(--main-bg-color-dark);
    scroll-behavior: smooth;
}