
.landingHeaderContainer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color-darkest);
    position: absolute;
}

.landingHeaderImg {
    height: 70%;
    width: auto;
    margin-left: 4rem;
}