.landingContainer {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingImg {
    width: 60%;
    height: auto;
    margin: 2rem 0rem;
    }

.landingButtonsWrapper {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.landingButton {
    margin: 1rem 1rem;
    padding: 0.2rem 0rem;
    width: 180px;
    border: 2px solid var(--main-orange-color);
    border-radius: 0.8rem;
    background-color: var(--main-orange-color);
    color: var(--main-text-color);
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 1.2rem;
    transition: 0.3s;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer; 
}

.landingButton:hover {
    transition: 0.3s;
    border: 2px solid var(--main-text-color)
}