
.mainHeaderContainer {
    width: 85%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color-darkest);
}

.mainHeaderImg {
    height: 70%;
    width: auto;
    margin-left: 4rem;
    cursor: pointer;
}

.mainHeaderProfileImg {
    border-radius: 50%;
    height: 90%;
    margin-left: 2rem;
    cursor: pointer;
}

.mainHeaderRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 4rem;
    height: 100%;
}

.accountSettingsIcon {
    height: 70%;
    width: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountSettingsIcon:hover {
    opacity: 0.9;
}

.notificationIcon {
    font-size: 2.4rem;
    cursor: pointer;
}

.notificationUnread {
    color: var(--main-orange-color);
}

.dropdownArrow {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    margin-left: 0.4rem;
    transition: transform 0.2s;
}

.dropdownArrow.open {
    transform: rotate(90deg);
    transition: transform 0.2s;
    color: var(--main-orange-color);
}

.accountSettingsHamburger {
    display: none;
}

@media (max-width: 768px) {
    .mainHeaderImg {
        margin-left: 1rem;
    }

    .mainHeaderRight {
        margin-right: 1rem;
    }

    .notificationIcon {
        font-size: 2rem;
    }

    .accountSettingsIcon {
        display: none;
    }

    .accountSettingsHamburger {
        font-size: 2rem;
        cursor: pointer;
        margin-left: 1rem;
        display: flex;
        z-index: 1;
    }
}