.profilePageContainer {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.profilePageLeft {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-right: 1rem;
}

.profilePageUserCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    z-index: 1;
    width: 100%;

}

.profilePageUserCard img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.userAvatarSettingsImg {
    border: 2px solid transparent;
}

.profilePageRight {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow-y: scroll;
    padding-right: 2rem;
    position: relative;
    padding-bottom: 2rem;
    margin-left: 1rem;
}


@media (min-width: 760px) {
    .profilePageContainer {
        width: 70%;
    }

    .profilePageLeft {
        width: 20%;
    }

    .profilePageRight {
        width: 80%;
    }
}

.profilePageTopContent {
    background-color: var(--main-bg-color-darkest);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 0.8rem;
}

.profilePageTopContent h1 {
    padding: 0;
    margin: 0;
    padding-left: 0.4rem;
    border-bottom: 2px solid var(--main-orange-color);
    margin-right: 1.2rem;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.lastSeenTitle {
    font-weight: 700;
    color: var(--main-orange-color);
    margin: 0.5rem 0;
}

.profilePageTabMenu {
    background-color: var(--main-bg-color-darkest);
    border-radius: 0.8rem;
    padding: 1rem;
    margin: 0rem 0rem 0rem 0rem;
}

@media (max-width: 768px) {
    .profilePageContainer {
        flex-direction: column;
        overflow-y: scroll;
    }

    .profilePageLeft {
        width: 100%;
        height: auto;
    }

    .profilePageRight {
        width: 100%;
        height: auto;
    }

    .profilePageTopContent {
        margin: 2rem 0.6rem;
        padding: 1rem;
    }

    .profilePageTabMenu {
        margin: 0rem 0 0rem 0;
    }
}