.registerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formInputsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInputsWrapper label {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0.5rem 0rem;
}

.formInputsWrapper input {
    border-radius: 0.8rem;
    border: 2px solid var(--main-orange-color);
    padding: 0.4rem 0.8rem;
    margin: 0.4rem 0rem;
    width: 200px;
}

.formInputsWrapper input:focus {
    outline: none;
    border: 2px solid var(--main-text-color);
}

.registerButtonsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
}

.registerButton, .discordButton {
    width: 100%;
    margin: 1rem 0rem;
    border: 2px solid var(--main-orange-color);
    border-radius: 0.8rem;
    background-color: var(--main-orange-color);
    color: var(--main-text-color);
    text-transform: capitalize;
    font-style: italic;
    font-weight: 700;
    font-size: 1.2rem;
    transition: 0.3s;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer; 
    color: white;
}

.discordButton {
    border: 2px solid var( --main-discord-color);
    background-color: var( --main-discord-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.discordLogo {
    width: auto;
    height: 15px;
    margin-left: 0.5rem;
}

.registerButton:hover, .discordButton:hover {
    transition: 0.3s;
    border: 2px solid var(--main-text-color)
}


